---
---

<section class="section" id="certifications">
  <h2>Certifications</h2>
  <div class="content">
    <div class="chips">
      <span class="chip">AWS Cloud Practitioner - 2020</span>
      <span class="chip">AI Academy Cadet- 2019</span>
      <span class="chip">Scrum Fundamentals - 2019</span>
    </div>
  </div>
</section>
