---
---

<section class="section" id="summary">
  <h2>Summary</h2>
  <div class="content">
    <p>
      Senior Data Platform Engineer with experience using AWS and GCP. 
      6+ years experience designing, developing, and implementing data pipelines, infrastructure and tools
      Managed data platform teams and mentored junior team members
      Python, dbt, Terraform, Airflow, Bash, Docker, Snowflake
      Driven communicator with interpersonal skills
      Leader, hard-working, team player, adaptable
    </p>
  </div>
</section>
