---
---

<section class="section" id="talks-writing">
  <h2>Talks & Writing</h2>
  <div class="content">
    <div class="item">
      <h3>
        <a href="https://www.castordoc.com/case-study/jimdos-data-cleanup-story" target="_blank" rel="noopener">
          80% Less Data, 90x Faster Operations: Jimdo's Data Cleanup Story
        </a>
      </h3>
      <div class="sub">CastorDoc paired article 路 2024 路 Case Study</div>
      <ul>
        <li>Talking about how we cleaned up Jimdo's data platform and reduced ingestion costs by 95% and ETL costs by 20%</li>
      </ul>
    </div>
    <div class="item">
      <h3>
        <a href="https://au.prosple.com/graduate-employers/capgemini-australia-and-new-zealand/day-in-the-life/kai-richardson" target="_blank" rel="noopener">
          Day in the Life of a Graduate Data Engineer
        </a>
      </h3>
      <div class="sub">Prosple 路 2020 路 Interview</div>
      <ul>
        <li>Interview about my experience as a graduate data engineer at Capgemini</li>
      </ul>
    </div>
  </div>
</section>
